@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using Fora2.Authorization;
@{
    var userId = User.Identity.GetUserId();
    var user = IdentityManager.GetUserByID(userId);
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    @if (user.AvatarURL == null)
    {
        <li><img src="~/Icons/BasicUser.png" width="32" height="32" style="margin-top:10px" /></li>
    }
    else
    {
        <li><img src="@user.AvatarURL" width="32" height="32" style="margin-top:10px" /></li>
    }

    <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
