@model Fora2.Models.Forum

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Forum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ForumCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForumCategory.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeratorRoleId)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.ModeratorRole.Name)
        </dd>

    </dl>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ForumId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
